apiVersion: apps/v1
kind: Deployment
metadata:
  name: JosePortfolio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio
        image: jose196/portfolio-v0:latest # Cambia esto por tu imagen
        ports:
        - containerPort: 3000